* {
    background-color: beige;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h1 {
    font-size: 42px;
    font-weight: bolder;
}

a {
    background-color: orangered;
    color: white;
}