* {
    border: 0;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1, h2, h3 {
    font-family: Lexend;
}

p {
    font-family: Manrope;
}

a {
    text-decoration: none;
}

ul li {
    display: inline-block;
}

.navbar {
    height: 56px;
}

    .navbar h1{
        display: inline-block;
        font-size: 28px;
        line-height: 42px;
        font-weight: 700;
        color: black;
        margin-left: 32px;
        margin-top: 8px;
        width: 25%;
        
    }

    .navbar ul {
        display: inline-block;
        text-align: center;
        width: 45%;
    }

        .navbar li {
            margin: 0 24px;
        }

    .navbar button {
        font-size: 14px;
        line-height: 22px;
        font-weight: 400;
        color: white;
        background-color: #6D31EDFF;
        border-radius: 6px;
        border: none;
        font-family: Manrope;
        padding: 6px 32px;
        width: 10%;
        margin-left: 300px;
    }

.hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("img/hero-background.jpg");
    background-size: cover;
    padding: 48px;
    text-align: center;
    height: 640px;
    width: auto;
}

    .hero .hero-content {
        margin-top: 150px;
    }

    .hero h2 {
       font-size: 64px;
       line-height: 84px;
       font-weight: 700;
       color: white; 
    }

    .hero p {
        font-size: 24px;
        line-height: 36px;
        font-weight: 400;
        color: white;
    }

    .hero button {
        padding: 10px 20px;
        margin: 18px;
        font-family: Manrope;
        font-size: 18px;
        font-weight: 400;
        color: white;
        background-color: #6D31EDFF;
        border: none;
        border-radius: 4px;
    }

.categories {
    background-color: white;
    border-radius: 0px;
    height: 476px;
    text-align: center;
}

    .categories h3 {
        font-size: 40px;
        line-height: 56px;
        font-weight: 700;
        padding: 32px;
        color: black;
    }

    .categories h4 {
        font-family: Manrope;
        font-size: 16px;
        line-height: 26px;
        font-weight: 700;
        color: #171A1FFF;
    }

    .categories .card {
        display: inline-block;
        margin: 8px 32px;
        width: 381px;
        height: 272px;
        background-color: white;
        border-radius: 4px;
        box-shadow: 0px 0px 1px gray;
    }
    
        .categories .card img {
            width: 349px;
            height: 162px;
            margin-top: 12px;
            object-fit: cover;
            border-radius: 8px;
        }

        .categories .card h4 {
            padding: 8px;
        }

        .categories .card button {
            font-size: 14px;
            line-height: 22px;
            font-weight: 400;
            padding: 6px 0;
            width: 91.5%;
            color: #6D31EDFF;
            background-color: white;
            border-radius: 4px;
            border: 1px solid #6D31EDFF;

        }


.featured {
    background-color: white;
    border-radius: 0px;
    height: 710px;
}

    .featured img {
        display: inline;
        width: 160px;
        height: 213px;
        object-fit: cover;
        margin-left: 32px;
        margin-top: 16px;
        border-radius: 3px;
    }

    .featured h3 {
        font-size: 40px;
        line-height: 56px;
        font-weight: 700;
        color: black;
        text-align: center;
        margin-bottom: 32px;
    }

    .featured .top, .featured .bottom {
        text-align: center;
        margin: 32px;
    }

    .featured .card {
        display: inline-block;
        width: 381px;
        height: 245px;
        background-color: white;
        border-radius: 4px;
        box-shadow: 0px 0px 1px #171a1f;
        text-align: center;
        margin: 16px 32px;
    }

        .featured .card .container {
            display: inline-block;
            width: 160px;
            height: 213px;
        }

            .featured .card .container h4 {
                font-family: Lexend;
                font-size: 20px;
                line-height: 30px;
                font-weight: 700;
                color: #171A1FFF;
            }

            .featured .card .container p {
                font-size: 14px;
                line-height: 22px;
                font-weight: 400;
                color: #9095A1FF;
            }

            .featured .card .container button {
                font-family: Manrope;
                padding: 8px 12px;
                color: #6D31EDFF;
                background-color: white;
                border-radius: 4px;
                border: 1px solid #6D31EDFF;

            }

.community {
    height: 384px;
    padding: 32px;
    background: #FAFAFBFF;
    text-align: center;
}

    .community h3 {
        font-size: 48px;
        line-height: 68px;
        font-weight: 700;
        color: #6D31EDFF;
        margin-top: 18px;
        margin-bottom: 18px;
    }

    .community p {
        font-size: 18px;
        line-height: 28px;
        font-weight: 400;
        color: #171A1FFF;
        margin-bottom: 32px;
    }

    .community button {
        padding: 12px 24px;
        font-family: Manrope;
        font-size: 18px;
        line-height: 28px;
        font-weight: 400;
        color: white;
        background-color: #6D31EDFF;
        border: none;
        border-radius: 4px;
    }

/* For debugging purposes only -- un-comment code block below to show div borders */
/* div {
    border: 1px solid red;
} */
