* {
    border: 0;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1, h2, h3 {
    font-family: Lexend;
}

p {
    font-family: Manrope;
}

.hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("img/hero-background.jpg");
    background-size: cover;
    padding: 48px;
    text-align: center;
    height: 640px;
    width: auto;
}

    .hero .hero-content {
        margin-top: 150px;
    }

    .hero h2 {
       font-size: 64px;
       line-height: 84px;
       font-weight: 700;
       color: white; 
    }

    .hero p {
        font-size: 24px;
        line-height: 36px;
        font-weight: 400;
        color: white;
    }

    .hero button {
        padding: 10px 20px;
        margin: 18px;
        font-family: Manrope;
        font-size: 18px;
        font-weight: 400;
        color: white;
        background-color: #6D31EDFF;
        border: none;
        border-radius: 4px;
    }

.categories {
    background-color: white;
    border-radius: 0px;
    height: 476px;
    text-align: center;
}

    .categories h3 {
        font-size: 40px;
        line-height: 56px;
        font-weight: 700;
        padding: 32px;
        color: black;
    }

    .categories h4 {
        font-family: Manrope;
        font-size: 16px;
        line-height: 26px;
        font-weight: 700;
        color: #171A1FFF;
    }

    .categories .card {
        display: inline-block;
        margin: 8px 32px;
        width: 381px;
        height: 272px;
        background-color: white;
        border-radius: 4px;
        box-shadow: 0px 0px 1px gray;
    }
    
        .categories .card img {
            width: 349px;
            height: 162px;
            margin-top: 12px;
            object-fit: cover;
            border-radius: 8px;
        }

        .categories .card h4 {
            padding: 8px;
        }

        .categories .card button {
            font-size: 14px;
            line-height: 22px;
            font-weight: 400;
            padding: 6px 0;
            width: 91.5%;
            color: #6D31EDFF;
            background-color: white;
            border-radius: 4px;
            border: 1px solid #6D31EDFF;

        }




/* For debugging purposes only -- un-comment code block below to show div borders */
/* div {
    border: 1px solid red;
} */
